@font-face {
    font-family: 'OpenSansHebrewRegular';
    src: url('fonts/OpenSansHebrewRegular/OpenSansHebrewRegular.woff2') format('woff2'),
         url('fonts/OpenSansHebrewRegular/OpenSansHebrewRegular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSansHebrewBold';
    src: url('fonts/OpenSansHebrewBold/OpenSansHebrewBold.woff2') format('woff2'),
         url('fonts/OpenSansHebrewBold/OpenSansHebrewBold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSansHebrewLight';
    src: url('fonts/OpenSansHebrewLight/OpenSansHebrewLight.woff2') format('woff2'),
         url('fonts/OpenSansHebrewLight/OpenSansHebrewLight.woff') format('woff');
}

@font-face {
    font-family: 'SFCompactMedium';
    src: url('fonts/SFCompactMedium/SFCompactMedium.woff2') format('woff2'),
         url('fonts/SFCompactMedium/SFCompactMedium.woff') format('woff');
}

@font-face {
    font-family: 'SFCompactUltralight';
    src: url('fonts/SFCompactUltralight/SFCompactUltralight.woff2') format('woff2'),
         url('fonts/SFCompactUltralight/SFCompactUltralight.woff') format('woff');
}

@font-face {
    font-family: 'SFCompactLight';
    src: url('fonts/SFCompactLight/SFCompactLight.woff2') format('woff2'),
         url('fonts/SFCompactLight/SFCompactLight.woff') format('woff');
}
