$font-reg:				'OpenSansHebrewRegular', sans-serif;
$font-bold:				'OpenSansHebrewBold', sans-serif;
$font-light:			'OpenSansHebrewLight', sans-serif;
$font-ultralight:		'SFCompactUltralight', sans-serif;
$font-sec-light:		'OpenSansHebrewLight', sans-serif;
$font-medium:			'SFCompactMedium', sans-serif;

// Colors
$primary-color:			#0194BE;

$link-color:            #28cff9;

// Buttons
$button-font-size:		18px;

// Navbar
$navbar-height:			53px;
$navbar-font-color:		#6D6E71;

// Types
$h3-fontsize:			28px;

// Input

$placeholder-text-color: #6d6e71;
$input-focus-color: $primary-color;