.section-top {
  padding-top: 70px; }
  .section-top.-contacts {
    padding-top: 55px; }
  .section-top.-about {
    padding-top: 40px; }
    .section-top.-about img {
      position: relative;
      right: -50px; }
    .section-top.-about h1 {
      margin-top: 5px;
      margin-bottom: 45px; }
    .section-top.-about .section-top_descr {
      margin-bottom: 35px; }
  .section-top.-newsletters {
    padding-top: 40px; }
    .section-top.-newsletters h1 {
      margin-top: 5px;
      margin-bottom: 32px; }
  .section-top h1 {
    margin: 40px 0; }
  .section-top .img-wrapper {
    padding: 0 100px; }
  .section-top img {
    max-width: 100%; }
  .section-top_descr {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 40px;
    padding: 0 15px; }
    .section-top_descr p {
      margin: 0;
      font-size: 20px;
      line-height: 26px; }
  .section-top.-pp-indent-infrastructure {
    padding-bottom: 40px; }
    .section-top.-pp-indent-infrastructure h1 {
      margin: 22px 0;
      line-height: 1.1; }
  .section-top.-pp-indent-jobs {
    padding: 54px 0 45px; }
    .section-top.-pp-indent-jobs h1 {
      margin: 35px 0 0; }

@media screen and (max-width: 992px) {
  .section-top {
    padding-top: 15px; }
    .section-top h1 {
      font-size: 90px;
      line-height: 90px; }
    .section-top .img-wrapper img {
      max-height: 400px; }
    .section-top.-pp-indent-jobs {
      padding: 200px 0 90px; }
      .section-top.-pp-indent-jobs h1 {
        margin-top: 60px; }
    .section-top .section-top_descr {
      padding: 0 65px; }
  .section-top.-about {
    padding-top: 24px; }
    .section-top.-about h1 {
      margin-top: 55px;
      margin-bottom: 22px; }
    .section-top.-about .section-top_descr p {
      font-size: 24px;
      line-height: 38px; }
    .section-top.-about .img-wrapper {
      padding: 0 5px; }
      .section-top.-about .img-wrapper img {
        position: static; }
  .section-top.-newsletters {
    padding-top: 15px; } }

@media screen and (max-width: 500px) {
  .section-top h1 {
    padding: 0 15px;
    font-size: 50px;
    line-height: 50px; }
  .section-top .img-wrapper {
    padding: 0 50px; }
    .section-top .img-wrapper img {
      max-height: 300px; }
  .section-top_descr {
    padding: 0 15px; }
    .section-top_descr p {
      font-size: 18px;
      line-height: 18px; }
  .section-top.-about {
    padding-top: 40px; }
    .section-top.-about img {
      right: 0px; }
    .section-top.-about h1 {
      margin-top: 5px;
      margin-bottom: 45px; } }
