.section-carousel {
	padding-bottom: 50px;
}

.carousel-fullwidth {
	.img-wrapper {
		position: relative;

		img {
			display: block;
			max-width: 100%;
		}
		
		.caption {
			display: block;
			max-width: 1310px;
			margin: 0 auto;
			position: absolute;
			bottom: 15px;
			left: 0;
			right: 0;
			width: 100%;
			padding-left: 17.5px;
			padding-right: 17.5px;
			font-size: 50px;
			color: #fff;
			text-align: right;

		}
	}

	.img-description {
		padding: 38px 0;
		font-size: 20px;
		text-align: center;
		color: #58595b;
		box-shadow: 0 5px 15px -5px rgba($primary-color, .5);
		margin-bottom: 20px;
	}
}

.slick-prev,
.slick-next {
	z-index: 1;
	
}

.slick-prev:before,
.slick-next:before {
	content: '';
	font-family: initial;
}

.slick-dotted.slick-slider {
	margin-bottom: 70px;
}

.slick-dots {
	li {
		button {
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: rgba($primary-color, .2);
			
			&:before {
				content: '';
			}
		}
	}
}

[dir="rtl"] {
	.slick-next {
		left: 60px;

		&:before {
			content: '';
			font-size: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 25px 20px 25px 0;
			border-color: transparent #fff transparent transparent;
		}
	}

	.slick-prev {
		right: 60px;

		&:before {
			content: '';
			font-size: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 25px 0 25px 20px;
			border-color: transparent transparent transparent #fff;

		}
	}
}

.slick-dots {
	bottom: -35px;
}