.footer{
	background: #6d6e71;
	& .container{
		padding: 26px 0;
		min-height: 145px;
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}
	&-designed{
		margin-right: 70px;
		&_name{
			font-size: 17px;
			color: #fff;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
			margin-right: 10px;
			vertical-align: middle;
			display: inline-block;
		}
		&_logo{
			width: 95px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&-certificate{
		& img {
			margin-left: 10px;
			width: 85px;
			&:last-child{
				margin: 0;
			}
		}
	}
	&-contacts{
		border-left: 1px solid #dbdbdd;
		color: #fff;
		padding-left: 65px;
		& span{
			display: block;
			font-size: 20px;
			line-height: 26px;
		}
	}
	&-copyright.footer-copyright{
		font-size: 16px;
	}
	&-social_list{
		margin: 0 50px;

	}

}
@media screen and (max-width: 1400px){
	.footer{
		& .container{
			padding: 26px 0;
			min-height: 145px;
			display: flex;
			align-items: center;
		    justify-content: space-between;
		}
		&-designed{
			margin-right: 40px;

			&_logo{
				width: 85px;

			}
		}

		&-contacts{
			padding-left: 35px;
		}

		&-social_list{
			margin: 0 20px;

		}

	}
}
@media screen and (max-width: 1200px){
	.footer{
		& .container{
			min-height: 0;
			display: block;
			padding-top: 40px;
			padding-bottom: 50px;
			text-align: center;
		}
		&-contacts{
			text-align: right;
			border-left: none;
			padding-left: 0;
			padding-bottom: 35px;
			margin-bottom: 20px;
			border-bottom: 1px solid #dbdbdd;

		}
		&-social_list , &-certificate , &-designed{
			display: inline-block;
			vertical-align: bottom;
		}
		&-social_list{
			margin: 0;
			margin-left: 30px;
		}
		&-certificate{

		}
		&-designed{
		}
	}
}
@media screen and (max-width: 992px){

}