.form {
	&.-icons {
		& img {
			position: absolute;
			right: 17px;
			width: 18px;
			max-height: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	& input,
	& textarea {
		font-size: 22px !important;
		max-width: 100%;
		width: 100%;
		box-sizing: border-box !important;
	}
	& .input-field {
		position: relative;
		margin-bottom: 89px;
		margin-top: 0;
		& input {
			margin: 0;
			padding-right: 35px;
			box-sizing: border-box;
		}
		& label {
			padding-right: 65px;
			font-size: 22px;
			color: #6d6e71;
			top: 0.4rem;
			& span {
				color: #a4a4a5;
			}
		}
	}
}
[dir="rtl"] {
	.form {
		& .input-field {
			& textarea {
				padding: 0;
				line-height: 45px;
				padding-right: 35px;
				margin: 0;
			}
		}
		& .select-wrapper {
			& input{
				padding: 0 35px;
			}
			& span.caret {
				right: inherit;
				left: 15px;
				&:before {
					content: '';
					background: url(images/ico-caret.svg) no-repeat;
					width: 28px;
					height: 12px;
					left: -10px;
					position: absolute;
				}
			}
			& .dropdown-content {
				box-shadow: 0px 0px 8px 2px rgba(1, 149, 190, 0.2);
				padding: 0;
				& li {
					text-align: right;
					& span {
						padding: 16px;
						color: #6d6e71;
						font-size: 22px;
					}
					&:hover,
					&:active,
					&:focus {
						background: #f2fafc;
					}
				}
			}
		}
	}
	input:not([type]) + label:after,
	input[type=text]:not(.browser-default) + label:after,
	input[type=password]:not(.browser-default) + label:after,
	input[type=email]:not(.browser-default) + label:after,
	input[type=url]:not(.browser-default) + label:after,
	input[type=time]:not(.browser-default) + label:after,
	input[type=date]:not(.browser-default) + label:after,
	input[type=datetime]:not(.browser-default) + label:after,
	input[type=datetime-local]:not(.browser-default) + label:after,
	input[type=tel]:not(.browser-default) + label:after,
	input[type=number]:not(.browser-default) + label:after,
	input[type=search]:not(.browser-default) + label:after,
	textarea.materialize-textarea + label:after {
		right: 65px;
		top: 75px;
		font-size: 18px;
	}
}
@media screen and (max-width: 768px) {
	.form {

		& .-submit {
			& .btn {
				width: 100%;
				padding: 32px 20px;
				height: auto;
			}
		}
	}
}
@media screen and (max-width: 500px){
	.form{
		& input,
		& textarea {
			font-size: 18px !important;
		}
		& .input-field {
			margin-bottom: 75px;
			& label {
				font-size: 18px;

			}
		}
		& .select-wrapper{
			& .dropdown-content.dropdown-content {

				& li {
					& span {
						font-size: 18px;
					}
				}
			}
		}
	}
}