.list-simple {
	padding: 0;
	margin: 0;

	li {
		position: relative;

		&:before {
			content: ' • ';
			display: inline-block;
			margin-right: 10px;
			color: $primary-color;
		}
	}
}

[dir="rtl"] {
	.list-simple {
		li {
			&:before {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}
}