.list-simple {
	padding: 0;
	margin: 0;

	li {
		position: relative;
		padding-left: 15px;
		line-height: 1.7;

		&:before {
			content: ' • ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			color: $primary-color;
		}
	}
}

[dir="rtl"] {
	.list-simple {
		li {
			padding-left: 0;
			padding-right: 15px;

			&:before {
				left: auto;
				right: 0;
			}
		}
	}
}