nav {
	background-color: transparent;
	box-shadow: none;

	.brand-logo {
		display: block;
		right: -2px;
		color: $navbar-font-color;
	}

	.nav-wrapper {
		padding-right: 120px;
	}

	ul {
		padding: 0;
		position: relative;
		margin-right: 9px;
		&.-brd_rt{
			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: 1px;
				height: 20px;
				margin-top: -10px;
				background-color: #6d6e71;
			}
		}
		&.-brd_all{
			& li {
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 1px;
					height: 20px;
					margin-top: -10px;
					background-color: #6d6e71;
				}
			}
			& a {
				padding: 0 15px;
			}
			& .btn{
			    min-width: 120px;
    			margin: -3px 3px 0 0px;
			}
		}
		&.-brd_bot{
			border-bottom: 1px solid $primary-color;
		}

		a {
			font-size: 18px;
			color: $navbar-font-color;
			padding: 0 9px;
			transition: all .2s;

			&:hover {
				background-color: transparent;
				color: $primary-color;
			}
		}

		li {
			position: relative;

			&:before {
				// content: '';
				// display: block;
				// position: absolute;
				// top: 50%;
				// left: 0;
				// width: 1px;
				// height: 20px;
				// margin-top: -10px;
				// background-color: #6d6e71;
			}

			&:last-child,
			&:nth-last-child(2) {
				&:before {
					display: none;
				}
			}
		}

		.btn {
			font-family: $font-reg;
		}

		&.bold {
			font-family: $font-bold;
		}
	}
}

.brand-logo {
	line-height: 1;
	height: 35px;
	top: 9px;
	margin: auto;

	img {
		display: inline-block;
		height: 36px;
		vertical-align: middle;
	}
}

.brand-logo-text {
	display: inline-block;
	font-size: 22px;
	line-height: 1;
	font-family: $font-ultralight;
	vertical-align: middle;
}

.side-nav {
	padding: 0;
	background: initial;
	padding-bottom: 200px;
	height: 100%;
	background: rgba(255,255,255 , 0.5);
	&_inner{
		background: #fff;
	}
	li {
		float: none !important;
		& a {
			transition: all .35s;
			padding: 42px 65px;
		    font-size: 30px;
		    line-height: 30px;
		    min-height: 124px;	
			&:hover{
				transition: all .35s;	
				background: rgba(1,148,190 , .05);
			}
		}
	}
	& ul{
		margin: 0;
	}
}

@media (max-width: 1300px) {
	nav {
		ul {
			a {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 1200px) {
	nav {
		height: auto;
		position: relative;
		// position: fixed;
		// z-index: 1;
		// top: 0;
		// left: 0;
		// right: 0;

		.brand-logo {
			left: auto;
			right: 0;
			transform: translate(0, 0);
		}

		a.button-collapse {
			position: absolute;
			top: 0;
			left: 0;
			width: 142px;
			height: 142px;
			text-align: center;

			i {
				height: auto;
				font-size: 44px;
				line-height: 142px;
			}
		}
		& .hide-on-med-and-down{
			display: none;
		}
	}
	.side-nav{
		width: 100%;
	}
}
@media screen and (max-width: 500px){
	.side-nav{
		& ul {

		}
		& a {
			font-size: 18px;
			padding: 20px 15px;
		}
	}
}