nav {
	background-color: transparent;
	box-shadow: none;

	.brand-logo {
		display: block;
		right: 15px;
	}

	.nav-wrapper {
		padding-right: 120px;
	}

	ul {
		padding: 0;

		a {
			font-size: 18px;
		}

		li {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 1px;
				height: 20px;
				margin-top: -10px;
				background-color: #6D6E71;
			}

			&:last-child,
			&:nth-last-child(1) {
				&:before {
					display: none;
				}
			}
		}

		.btn {
			font-family: $font-reg;
		}

		&.bold {
			font-family: $font-bold;
		}
	}
}

.brand-logo {
	line-height: 1;
	height: 40px;
	top: 6px;
	margin: auto;

	img {
		display: inline-block;
		height: 36px;
		vertical-align: middle;
	}
}

.brand-logo-text {
	display: inline-block;
	font-size: 22px;
	line-height: 1;
	font-family: $font-ultralight;
	vertical-align: middle;
}