html {
	font-family: $font-reg;
	color: #6d6e71;
}

h3 {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1310px;
	width: 100%;
	padding-left: 17.5px;
	padding-right: 17.5px;

	&.-wide {
		max-width: 1550px;
	}
}

.flex {
	display: flex;

	&.aic {align-items: center;}
	&.aife {align-items: flex-end;}
	&.c {justify-content: center;}
	&.sb {justify-content: space-between;}
	&.fdc {flex-direction: column;}
}

[dir="rtl"] {
	.right {
		float: left !important;
	}

	.left {
		float: right !important
	}

	nav ul li {
		float: right;
	}

	.lined {
		&:after {
			left: auto;
			right: 0;
		}

		&.-center {
			&:after {
				right: auto;
				left: 50%;
			}
		}
	}
}

.lined {
	position: relative;
	padding-bottom: 16px;
	margin-bottom: 16px !important;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 87px;
		height: 5px;
		background-color: rgba($primary-color, .2);
	}

	&.-center {
		&:after {
			left: 50%;
			margin-left: -44px;
		}
	}
}

.shadowed {
	border-radius: 25px;
	box-shadow: 0 0 30px rgba($primary-color, .5);
}

.font-custom {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.bg-img01 {
	background: url(images/bg-img-01.svg) no-repeat center center / 100% auto;
}

h1 {
	font: normal 100px/120px $font-sec-light;
	text-align: center;
	margin: 20px 0;
}

.section-top-home {
	padding: 156px 0 153px;
	background-position: center 120px;

	.logo {
		display: inline-block;

		img {
			width: 145px;
			height: auto;
			margin: 0 auto 12px;
		}
	}

	.logo-text {
		display: block;
		font: normal 48px/1 $font-ultralight;
		color: #4C4C51;
	}

	.subtitle {
		max-width: 460px;
		margin: 10px auto 0;
		line-height: 1.4;
		text-align: center;
	}
}

.subtitle {
	font-size: 30px;
	margin: 0;
}

.bordered {
	border-color: $primary-color;

	&.-top {
		border-top: 1px solid;
	}

	&.-bot {
		border-bottom: 1px solid;
	}
}

.arrow-down-wrapper {
	a {
		display: block;
	}

	i {
		display: block;
		font-size: 100px;
		line-height: 60px;
		height: 60px;
		color: #28CFF9;
	}
}

.section-simple {
	.img-simple {
		width: 138px;
	}

	.content-wrapper {
		padding: 65px 0 0;

		h3 {
			margin: 0;
		}

		.description {
			margin: 0;
			font-size: 20px;
			max-width: 520px;
			line-height: 1.3;
		}

		.btn {
			transform: translateY(-10px);
			flex-basis: 225px;
			flex-shrink: 0;
			white-space: nowrap;
			align-self: center;
			line-height: 1.1;
			padding-top: 23px;
			padding-bottom: 23px; 
		}
	}

	.img-wrapper {
		padding: 65px 155px 80px 75px;
	}
}

.section-simple-block {
	display: flex;
}

.section-home-categories {
	padding-bottom: 57px;

	h2 {
		margin-top: 0;
	}

	.content-wrapper {
		max-width: 450px;
	}

	p {
		margin: 25px 0 15px;
		font-size: 20px;
		line-height: 1.3;
	}

	.link {
		color: #28cff9;
		font-size: 22px;
		line-height: 26px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&.-contant {
		padding-bottom: 52px;

		.home-category {
			padding: 10px 0;

			&.-pp-indent-01 {
				padding-bottom: 28px;
			}

			&.-pp-indent-02 {
				padding: 40px 160px 50px 0;

				.content-wrapper {
					margin-bottom: 85px;
					margin-left: 15px;
				}
			}

			&.-pp-indent-03 {
				padding: 55px 0 0;
			}
		}
	}
}

.home-category {
	padding-top: 35px;
	padding-bottom: 35px;

	&.-r {
		padding-right: 150px;

		.content-wrapper {
			margin-right: 100px;
		}
	}

	&:not(.-r) {
		.content-wrapper {
			margin-right: 40px;
			margin-bottom: 50px;
		}
	}

	&.-pp-indent-01 {
		padding-bottom: 29px;
	}

	&.-pp-indent-02 {
		padding-bottom: 29px;

		.content-wrapper {
			margin-bottom: 115px;
			margin-right: 117px;
		}

		p {
			margin: 30px 0 25px;
		}
	}

	&.-pp-indent-03 {
		.content-wrapper {
			margin-bottom: 90px;
		}

		p {
			margin: 30px 0 20px;
		}
	}
}

.section-home-card {
	padding: 220px 0 50px;

	.card-home {
		margin: 0 15px;
		height: 318px;

		&.-mr0 {margin-right: 0;}
		&.-ml0 {margin-left: 0;}
	}
}

.home-article {
	h2 {
		font-family: $font-light;
	}

	.well {
		max-width: 511px;
		margin-top: 20px;
	}
}

@media (max-width: 1300px) {
	.bg-img01 {
		background-size: 150% auto;
	}

	.home-category {
		&.-pp-indent-02 {
			.content-wrapper {
				margin-right: 0;
				margin-bottom: 60px;
			}
		}
	}
}

@media (max-width: 1200px) {
	.section-simple {
		.img-wrapper {
			padding: 40px 30px;
		}

		.content-wrapper {
			padding: 30px 0 0;
		}
	}

	.section-top-home {
		padding: 50px 0;
		padding-top: 330px;
		& h1 {
			font-size: 100px;
			margin-top: 38px;
		}
	}

	.section-home-card {
		padding: 50px 0;
	}

	.section-home-categories {
		&.-contant {
			.content-header {
				text-align: center;
			}

			.home-category {
				&.-pp-indent-01,
				&.-pp-indent-02,
				&.-pp-indent-03 {
					padding: 25px 0;
				}
			}
		}
		& p {
		    margin: 9px 0 15px;
		    font-size: 24px;
		    line-height: 38px;
		}
	}

	.home-category {
		flex-direction: column;

		&.-pp-indent-01,
		&.-pp-indent-02,
		&.-pp-indent-03 {
			padding: 20px 0;

			.content-wrapper {
				margin: 0;
			}
		}

		.img-wrapper {
			width: 100%;
			order: 1;

			img {
				display: block;
				max-width: 100%;
				margin: 0 auto;
			}
		}

		.content-wrapper {
			order: 2;
		}
	}

	.section-home-categories {
		.content-wrapper {
			max-width: none;
		}
	}
}

@media screen and (max-width: 992px) {
	.container {
		padding: 0 65px;
	}
	
	.bg-img01 {
		background-size: 170% auto;
	}

	h1 {
		font-size: 90px;
		line-height: 1.1;
	}

	.section-simple {
		.img-wrapper {
			padding: 15px 15px 15px 25px;
		}

		.content-wrapper {
			padding: 0;

			.flex {
				display: block;
			}

			.btn {
				transform: translateY(0);
			}

			.description {
				max-width: none;
				padding-bottom: 15px;
			}
		}
	}

	.section-simple-block {
		align-items: center;
		padding: 20px 0;
	}

	.section-home-card {
		.flex {
			flex-direction: column;
		}

		.card-home {
			max-width: 620px;

			&.-mr0,
			&.-ml0 {
				margin: 0 auto;
			}

			&:last-child {
				margin-top: 25px;
			}

			.icon-wrapper {
				height: auto;
			}
		}
	}

	.section-home-categories {
		&.-contant {
			.content-header {
				text-align: center;
			}

			.home-category {
				&.-pp-indent-01,
				&.-pp-indent-02,
				&.-pp-indent-03 {
					padding: 15px 0;
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.container {
	    padding-left: 17.5px;
		padding-right: 17.5px;
	}

	h1 {
		font-size: 45px;
	}

	.subtitle {
		font-size: 24px;
	}

	.section-top-home {
		.logo {
			img {
				width: 100px;
			}
		}

		.logo-text {
			font-size: 30px;
		}
	}

	.section-simple-block {
		display: block;

		.img-wrapper {
			padding: 15px;
			text-align: center;
		}

		.content-wrapper {
			.btn {
				display: block;
				width: 100%;
			}
		}
	}
}