html {
	font-family: $font-reg;
	color: #6d6e71;
}

h3 {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1310px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;

	&.-wide {
		max-width: 1550px;
	}
}

.flex {
	display: flex;

	&.aic {align-items: center;}
	&.c {justify-content: center;}
	&.fdc {flex-direction: column;}
}

[dir="rtl"] {
	.right {
		float: left !important;
	}

	.left {
		float: right !important
	}

	nav ul li {
		float: right;
	}

	.lined {
		&:after {
			left: auto;
			right: 0;
		}

		&.-center {
			&:after {
				right: auto;
				left: 50%;
			}
		}
	}
}

.lined {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px !important;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 87px;
		height: 5px;
		background-color: rgba($primary-color, .2);
	}

	&.-center {
		&:after {
			left: 50%;
			margin-left: -44px;
		}
	}
}

.shadowed {
	border-radius: 25px;
	box-shadow: 0 0 30px rgba($primary-color, .5);
}

.font-custom {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.bg-img01 {
	background: url(images/bg-img-01.svg) no-repeat center center / 100% auto;
}

h1 {
	font: normal 100px/120px $font-sec-light;
	text-align: center;
	margin: 30px 0;
}

.section-top-home {
	padding: 150px 0 50px;

	.logo {
		display: inline-block;

		img {
			width: 145px;
			height: auto;
			margin: 0 auto 5px;
		}
	}

	.logo-text {
		display: block;
		font: normal 48px/1 $font-ultralight;
		color: #4C4C51;
	}

	.subtitle {
		max-width: 460px;
		margin: 0 auto;
		text-align: center;
	}
}

.subtitle {
	font-size: 30px;
	margin: 0;
}

.bordered {
	border-color: $primary-color;

	&.-top {
		border-top: 1px solid;
	}

	&.-bot {
		border-bottom: 1px solid;
	}
}

.arrow-down-wrapper {
	a {
		display: inline-block;
	}

	i {
		display: block;
		font-size: 100px;
		line-height: 60px;
		height: 60px;
		color: #28CFF9;
	}
}

.section-simple {
	.img-simple {
		width: 138px;
	}

	.content-wrapper {
		padding: 65px 0 0 ;

		h3 {
			margin: 0;
		}

		.description {
			margin: 0;
			font-size: 20px;
			max-width: 520px;
		}

		.btn {
			flex-basis: 225px;
			flex-shrink: 0;
			white-space: nowrap;
			align-self: center;
		}
	}

	.img-wrapper {
		padding: 65px 155px 85px 75px;
	}
}

.section-home-categories {
	padding-bottom: 35px;

	.icon-wrapper {
		img {
			height: 80px;
		}
	}

	h2 {
		margin-top: 0;
	}

	.content-wrapper {
		max-width: 450px;
	}

	p {
		font-size: 20px;
	}

	.link {
		color: #28cff9;
		font-size: 22px;
		line-height: 26px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.home-category {
	padding-top: 35px;
	padding-bottom: 35px;

	&.-r {
		padding-right: 150px;
	}
}

.section-home-card {
	padding: 50px 0;

	.card-home {
		max-width: 610px;
		margin: 0 15px;
		height: 318px;

		&.-mr0 {margin-right: 0;}
		&.-ml0 {margin-left: 0;}
	}
}

@media screen and (max-width: 500px){
	.container {
		padding: 0 15px;
	}
}