.social-list{
	& img {
		width: 46px;
		height: 55px;

	}
	& li {
		margin-left: 20px;
		display: inline-block;
		&:last-child{
			margin-left: 0;
		}
	}
	& a{
		transition: all .35s;	
		&:hover{
			opacity: 0.7;
			transition: all .35s;
		}
	}
}
@media screen and (max-width: 992px){
	.social-list{
		& li {

		}
	}
}